# Auth
AUTH_SECRET="use node -e "console.log(require('crypto').randomBytes(32).toString('base64'))" to get the code and replace it here"

# Local site URL
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# Neon database
DATABASE_URL="postgresql://neondb_owner:YOUR_PASSWORD@ep-twilight-hall-atc6iest.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require"

# Vercel Blob
BLOB_READ_WRITE_TOKEN="YOUR_BLOB_READ_WRITE_TOKEN"